# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extension build artifacts
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Installer logs
pip-log.txt

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
